{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.0/iconfont/material-icons.css">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MQTT通信控制</a>
    </div>
    </nav>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
</body>
</html>